data/
.idea/
.venv/

pypass/venv/
pypass/logs/
pypass/.venv/
pypass/build/
pypass/CHANGELOG
pypass/.briefcase/
pypass/.python-version
pypass/tests/__pycache__/
pypass/src/pypass/test.py
pypass/src/pypass.dist-info/
pypass/src/pypass/__pycache__/
pypass/src/pypass/wordlist.json

pypass_server/.venv/
pypass_server/.idea/
pypass_server/venv/
pypass_server/data/
pypass_server/logs/
pypass_server/test_new_encryption.py
