.idea/
.venv/
14-venv/
13-venv/
bastionpass/venv/
bastionpass/logs/
bastionpass/.venv/
bastionpass/build/
bastionpass/.briefcase/
bastionpass/.python-version
bastionpass/tests/__pycache__/
bastionpass/icons/create_images.sh
bastionpass/src/bastionpass/test.py
bastionpass/src/bastionpass.dist-info/
bastionpass/src/bastionpass/__pycache__/
bastionpass/src/bastionpass/wordlist.json
bastionpass/src/bastionpass/phased_out_code.py
